/* MOBILE */

/*
	Color Hex Codes:
	
	DKBLUE = #041B36
	BLUE = #082B56
	LIGHT YELLOW = #FCF3C6
*/

@media screen and (max-width:480px) and (orientation : portrait) {

/*HEADER STARTS*/

	*#store {
		display: none;
	}
	
	#branding img {
		display:none;
	}
	
	header {
		height:3em;
		padding:0%;
	}

	header h1, h2 {
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
	
	header #branding h1 {
		font-size:1.4em;
		margin-top:1em;
		margin-left:.5em;
		margin-bottom:0;
		padding-bottom:0;
		text-align:left;
	}
	
	header h2 {
		display:none;
	}
	
	#menu-btn {
		margin-top:-.75em;
		margin-right:.5em;
	}
	
	.menu-btn span {
		width: 1.1875em;
		height: 0.1875em;
		margin: 0.25em 0;
	}
	
	.responsive-menu ul {
		margin-top:1.125em;
		padding-right:0;
		margin-right:0;
	}
	
/*HEADER ENDS*/
	
/*HOMEPAGE CONTENT STARTS*/	

	section#portfolio {
		padding-top:3em;
	}
	
	section#portfolio article {
		width:50%;
	}
	
	section#portfolio article div.overlay a {
		font-size:.7em;
	}
	
/*HOMEPAGE CONTENT ENDS*/
	
/*PRODUCTS PAGE CONTENT STARTS*/

	#products {
		padding-top:4.5em;
	}
	
	#products article {
		width:92%;
		margin-bottom:25%;
		visibility:visible;
	}

	#products article img{
		float:none;
		width:96%;
	}

	#products article h2 {
		font-size:1.4em;
		text-align:left;
	}

	#products article p:nth-child(4){
		font-size:1.6em;
	}

	#products article a {
		width:96%;
		margin-right:auto;
		margin-left:auto;
	}

	#products article a:hover{
		color:#fff;
	}
	
	#arrow-right {
		display:none;
	}

	#arrow-right:hover{
		display:none;
	}

	#arrow-left {
		display:none;
	}

	#arrow-left:hover{
		display:none;
	}
	
/*PRODUCTS PAGE CONTENT ENDS*/
	
/*ABOUT PAGE CONTENT STARTS*/
	
	#about {
		padding-top:4em;
		width:92%;
		font-size:1em;
		margin-bottom:0%;
	}

	#about img {
		width:44%;
		margin-right:6%;
		margin-top:0%;
	}
	
	#about p {
		margin-bottom:4%;
	}

	#about p:nth-child(2) {
		margin-top:0%;
	}
	
	#about p:nth-child(4) {
		margin-bottom:4%;
	}
	
	#bottom {
		position:relative;
		margin-top:2%;
	}
	
	#about a {
		background-color:#fcf3c6;
	}

	#about a:hover {
		background-color:#fcf3c6;
	}

/*ABOUT PAGE CONTENT ENDS*/
	
/*CONTACT PAGE CONTENT STARTS*/

	#contact {
		width:98%;
		padding-top:2.75em;
	}
	
	#contact h2 {
		margin-top:0%;
	}
	
	#form-intro {
		font-family: 'Arial Narrow', Arial, sans-serif;
		font-size:1.15em;
		text-align:left;
		margin-left:3%;
		margin-right:1%;
		width:96%;
	}
	
	#contact form {
		width:96%;
		margin-bottom:10%;
	}
	
	#submit {
		width:100%;
		height:2.5em;
		margin-right:auto;
		margin-left:auto;
	}
	
	textarea {
		height:10em;
	}
	
	#bottom {
		position:relative;
		margin-top:2%;
		margin-bottom:0%;
	}
	
/*CONTACT PAGE CONTENT ENDS*/

/*FOOTER CONTENT STARTS*/	
	
	footer p {
		font-size:.7em;
	}
	
	footer {
		padding:.5%;
	}

/*FOOTER PAGE CONTENT ENDS*/
	
}