/* MOBILE */

/*
	Color Hex Codes:
	
	DKBLUE = #041B36
	BLUE = #082B56
	LIGHT YELLOW = #FCF3C6

*/

@media screen and (max-width:480px) {

/*HEADER STARTS*/

	*#store {
		display: none;
	}
	
	#branding img {
		display:none !important;
	}
	
	header {
		height:5em !important;
		padding:0% !important;
	}

	header h1, h2 {
		margin-left:auto !important;
		margin-right:auto !important;
		text-align:center;
	}
	
	header #branding h1 {
		font-size:1.4em !important;
		margin-top:1em !important;
		margin-left:.5em !important;
		margin-bottom:0 !important;
		padding-bottom:0 !important;
		text-align:left;
	}
	
	header h2 {
		display:none !important;
	}
	
	#menu-btn {
		margin-top:6em !important;
		margin-right:.5em !important;
	}
	
	.menu-btn span {
		width: 1.1875em !important;
		height: 0.1875em !important;
		margin: 0.25em 0 !important;
	}
	
/*HEADER ENDS*/
	
/*HOMEPAGE CONTENT STARTS*/	

	section#portfolio {
		padding-top:9em !important;
	}
	
	section#portfolio article {
		width:50% !important;
	}
	
	section#portfolio article div.overlay a {
		font-size:.7em;
	}
	
/*HOMEPAGE CONTENT ENDS*/
	
/*PRODUCTS PAGE CONTENT STARTS*/

	#products {
		padding-top:9em !important;
	}
	
	#products article {
		width:92% !important;
		margin-bottom:25% !important;
		visibility:visible !important;
	}

	#products article img{
		float:none !important;
		width:100% !important;
	}

	#products article h2 {
		font-size:1.4em !important;
		text-align:left;
	}

	#products article p:nth-child(4){
		font-size:1.6em !important;
	}

	#products article button {
		width:96% !important;
		margin-right:auto !important;
		margin-left:auto !important;
	}

	#products article button a:hover{
		color:none !important;
	}
	
	#arrow-right {
		display:none !important;
	}

	#arrow-right:hover{
		display:none !important;
	}

	#arrow-left {
		display:none !important;
	}

	#arrow-left:hover{
		display:none !important;
	}
	
/*PRODUCTS PAGE CONTENT ENDS*/
	
/*ABOUT PAGE CONTENT STARTS*/
	
	#about {
		padding-top:6.5em !important;
		width:92% !important;
		font-size:1em;
		margin-bottom:0% !important;
	}

	#about img {
		width:44%;
		margin-right:6% !important;
	}
	
	#about p {
		margin-bottom:4% !important;
	}

	#bottom {
		position:relative !important;
		margin-top:2% !important;
	}
	
	#about a {
		background-color:#fcf3c6;
	}

	#about a:hover {
		background-color:none !important;
	}

/*ABOUT PAGE CONTENT ENDS*/
	
/*CONTACT PAGE CONTENT STARTS*/

	#contact {
		width:100% !important;
		padding-top:9em !important;
	}
	
	#form-intro {
		font-family:‘Arial Narrow’, sans-serif;
		text-align:left !important;
		margin-left:3% !important;
		width:100% !important;
	}
	
	form {
		width:96% !important;
	}
	
	#submit {
		width:100% !important;
		height:2.5em !important;
		margin-right:auto !important;
		margin-left:auto !important;
	}
	
	textarea {
		height:8em !important;
	}
	
	#bottom {
		position:relative !important;
		margin-top:2% !important;
	}
	
/*CONTACT PAGE CONTENT ENDS*/

/*FOOTER CONTENT STARTS*/	
	
	footer p {
		font-size:.7em;
	}
	
	footer {
		padding:.5%;
	}

/*FOOTER PAGE CONTENT ENDS*/
	
}

