/* TABLET */

/*
	Color Hex Codes:
	
	DKBLUE = #041B36
	BLUE = #082B56
	LIGHT YELLOW = #FCF3C6

*/

@media screen and (max-width:768px) {
	
/*HEADER STARTS*/
	
	*#store {
		display: none;
	}
	
	header {
		height:6.5em;
		padding:0%;
	}
	
	header h1 {
		font-size:1.8em;
		margin-top:-2em;
		margin-left:4em;
	}
	
	header h2 {
		font-size:.85em;
		margin-top:2%;
		margin-left:8.5em;
		letter-spacing:.2%;
	}
	
	header img {
		width:12%;
		display:inline;
		float:none;
		margin:.5em 0 0 .5em;
	}
	
	#menu-btn {
		margin-top:-5em;
		margin-right:.5em;
	}
	
	.menu-btn span {
		width: 1.1875em;
		height: 0.1875em;
		margin: 0.25em 0;
	}

/*HEADER ENDS*/
	
/*HOMEPAGE CONTENT STARTS*/	
	
	.responsive-menu ul {
		margin-top:-2em;
	}
	
	section#portfolio {
		padding-top:6em;
	}

	section#portfolio article div.overlay a {
		font-size:.7em;
	}

/*HOMEPAGE CONTENT ENDS*/
	
/*PRODUCTS PAGE CONTENT STARTS*/
	
	#products {
		padding-top:8em;
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}

	#products article {
		margin-bottom:15%;
		visibility:visible;
	}

	#products article img{
		float:none;
		width:98%;
	}

	#products article h2 {
		font-size:1.6em;
		text-align:left;
	}

	#products article p {
		font-size:1.2em;
	}
	
	#products article p:nth-child(4){
		font-size:1.8em;
	}

	#products article button{
		width:40%;
		height:2.5em;
		margin-right:auto;
		margin-left:auto;
	}

	#products article button a:hover{
		color:none;
	}

	#arrow-right {
		display:none;
	}

	#arrow-right:hover{
		display:none;
	}

	#arrow-left {
		display:none;
	}

	#arrow-left:hover{
		display:none;
	}
	
/*PRODUCTS PAGE CONTENT ENDS*/
	
/*ABOUT PAGE CONTENT STARTS*/
	
	#about {
		padding-top:7em;
		width:92%;
		font-size:1em;
		margin-bottom:0%;
	}

	#about img {
		width:44%;
		margin-right:3%;
	}
	
	#about p {
		margin-bottom:4%;
	}

	#about a {
		background-color:#fcf3c6;
	}

	#about a:hover {
		background-color:none;
	}

/*ABOUT PAGE CONTENT ENDS*/
	
/*CONTACT PAGE CONTENT STARTS*/

	#contact {
		width:74%;
		padding-top:7em;
	}
	
	#contact h2 {
		text-align:left;
		margin-left:3%;
		width:100%;
	}

	#contact form {
		width:90%;
		margin-bottom:8%;
	}
	
	#form-intro {
		font-family:‘Arial Narrow’, sans-serif;
	}
	
	#submit {
		width:60%;
		height:2.5em;
		margin-right:20%;
		margin-left:20%;
	}
	
	textarea {
		height:8em;
	}
	
	#bottom {
		position:relative;
		margin-top:2%;
	}
	
/*CONTACT PAGE CONTENT ENDS*/	
	
/*FOOTER CONTENT STARTS*/	
	
	footer p {
		font-size:.7em;
	}
	
	footer {
		padding:.5%;
	}
	
/*FOOTER PAGE CONTENT ENDS*/

}
	