/* TABLET */

/*
	Color Hex Codes:
	
	DKBLUE = #041B36
	
	BLUE = #082B56
	LIGHT YELLOW = #FCF3C6
*/

@media screen and (max-width:1024px) and (orientation : landscape) {
	
	*#store {
		display: none;
	}
	
	header {
		height:6.5em;
		padding:0%;
	}
	
	header h1 {
		font-size:1.8em;
<<<<<<< HEAD
		margin-top:-2.25em;
=======
		margin-top:-2em;
>>>>>>> origin/master
		margin-left:4em;
	}
	
	header h2 {
<<<<<<< HEAD
		font-size:.865em;
		margin-top:2%;
		margin-left:8.5em;
		letter-spacing:.1em;
	}
	
	#branding img {
		margin-top:.5em;
	}
	
	header img {
		width:9%;
		display:inline;
		float:none;
		margin:-2em 0 0 .5em;
	}
	
	#menu-btn {
		margin-top:-4.5em;
=======
		font-size:.85em;
		margin-top:2%;
		margin-left:8.5em;
		letter-spacing:.2%;
	}
	
	header img {
		width:12%;
		display:inline;
		float:none;
		margin:.5em 0 0 .5em;
	}
	
	#menu-btn {
		margin-top:-5em;
>>>>>>> origin/master
		margin-right:.5em;
	}
	
	.menu-btn span {
		width: 1.1875em;
		height: 0.1875em;
		margin: 0.25em 0;
	}
	
	.responsive-menu ul {
		margin-top:-2em;
	}
	
	section#portfolio {
		padding-top:6em;
	}

	section#portfolio article div.overlay a {
		font-size:.7em;
	}
	
/*PRODUCTS CONTENT ENDS*/
	#products {
		padding-top:8em;
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}

	#products article {
		margin-bottom:15%;
		visibility:visible;
	}

	#products article img{
		float:none;
		width:98%;
	}

	#products article h2 {
		font-size:1.6em;
		text-align:left;
	}

	#products article p {
		font-size:1.2em;
	}
	
	#products article p:nth-child(4){
		font-size:1.8em;
	}

<<<<<<< HEAD
	#products article a{
		width:40%;
		height:2.5em;
		padding:.5em;
=======
	#products article button{
		width:40%;
		height:2.5em;
>>>>>>> origin/master
		margin-right:auto;
		margin-left:auto;
	}

<<<<<<< HEAD
	#products article a:hover{
		color:#fff;
=======
	#products article button a:hover{
		color:none;
>>>>>>> origin/master
	}

	#arrow-right {
		display:none;
	}

	#arrow-right:hover{
		display:none;
	}

	#arrow-left {
		display:none;
	}

	#arrow-left:hover{
		display:none;
	}
	
/*PRODUCTS PAGE CONTENT ENDS*/
	
/*ABOUT PAGE CONTENT STARTS*/
	
	#about {
		padding-top:7em;
		width:92%;
		font-size:1em;
		margin-bottom:0%;
	}

	
	#about img {
<<<<<<< HEAD
		width:30%;
		margin-right:3%;
		margin-top:10%;
	}
	
	#about p {
		margin-bottom:2%;
	}
	
	#about p:nth-child(2) {
		margin-top:10%;
	}
	
	#about p:nth-child(4) {
		margin-bottom:29.25%;
=======
		width:44%;
		margin-right:3%;
	}
	
	#about p {
		margin-bottom:4%;
>>>>>>> origin/master
	}

	#about a {
		background-color:#fcf3c6;
	}

	#about a:hover {
<<<<<<< HEAD
		background-color:#fcf3c6;
=======
		background-color:none;
>>>>>>> origin/master
	}

/*ABOUT PAGE CONTENT ENDS*/
	
/*CONTACT PAGE CONTENT STARTS*/

	#contact {
<<<<<<< HEAD
		width:70%;
=======
		width:74%;
>>>>>>> origin/master
		padding-top:7em;
	}
	
	#contact h2 {
		text-align:left;
<<<<<<< HEAD
		margin-top:16%;
		margin-left:3%;
		width:90%;
=======
		margin-left:3%;
		width:100%;
>>>>>>> origin/master
	}

	#contact form {
		width:90%;
<<<<<<< HEAD
		margin-bottom:18%;
=======
		margin-bottom:8%;
>>>>>>> origin/master
	}
	
	#submit {
		width:60%;
		height:2.5em;
		margin-right:20%;
		margin-left:20%;
	}
	
	textarea {
		height:8em;
	}
	
	#bottom {
		position:relative;
		margin-top:2%;
	}
	
/*CONTACT PAGE CONTENT ENDS*/	
	
	footer p {
		font-size:.7em;
	}
	
	footer {
		padding:.5%;
	}
	
}