/* DESKTOP */

/*
Dk Gray = #373737
Gold = #C5B358
*/
	html {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
		background-color:#fff;
		color:#373737;
		}

	body {
		margin-right:auto;
		margin-left:auto;
		max-width:60em; /* 960px / 16px */
		font: normal 100%;
	}

	header h1 {
		font-size:3.125em; /* 50px / 16px */
		text-align:center;
		color:#C5B358;
	}

	header ul {
		text-align:center;
		background-color:#C5B358;
		padding:.8em;
		border-radius:1em;
	}

	header nav ul li{
		display:inline;
		margin:0 4.166666666666667% /* 40px / 960px */;
		font-size:1em;	
		color:#fff;
	}
	
	header p {
		width:84%; 
		font-size:1.1em;
		margin: 3% 8%;
	}

	section article h2 {
		font-size:1.8em;
		line-height:1.2em;
		color:#C5B358;
	}

	section article ul {
		list-style-type: none;
	}
	
	section article li {
		margin-top:3em;
		line-height:.8em;
	}
	
	section article ul li p:first-child{
		font-weight:bold;
		line-height:1.2em;
	}
	
	section article li button{
		border-radius:1.5em;
		background-color:#C5B358;
		width:10em;
		color:#fff;
		padding:.5em;
		border:none;
	}

	section article:first-child {
		float:left;
		width:36%;
		margin-right:6%;
		margin-left:8%;
	}
	
	section article:nth-child(2) {
		float:left;
		border-left-color:#C5B358;
		border-left-style:solid;
		padding-left:10%;
	}
	
	section article:nth-child(3) button{
		border-radius:1.5em;
		background-color:#C5B358;
		width:12em;
		color:#fff;
		padding:1.5%;
		margin:50% auto 0% auto;
		border:none;
		clear:both;
		font-size:1em;
		display:block;
	}
	
	footer {
		color:#C5B358;
		text-align:center;
		clear:both;
		padding-top:2.083333333333333%; /* 20px / 960px */
	}

	footer p {
		font-size:.9em;
		line-height:1em;
		font-weight:lighter;
	}

	footer nav ul li{
		margin-top:3.125%; /* 30px / 960px */
		display:inline;
		width:31.25%; /* 300px / 960px */
		text-decoration:none;
		margin-right:10%;
	}

	a {
		text-decoration:none;
		color:#fff;
	}

	a:hover {
		color:#996515;
	}
	
	footer a {
		color:#996515;
		font-size:.9em;
	}
	
	footer a:hover {
		color:#996515;
		text-decoration:underline;
	}