/* MOBILE */

@media screen and (max-width:480px) {
	body {
		width:100%;
		margin:0;
		padding:0;
	}
	
	header h1 {
		font-size:2em; /* 40px / 16px */
		background-color:#C5B358;
		color:#fff;
		padding:5% 0 10% 0;
		margin:0;
	}
	
	header nav ul {
		background-color:#C5B358;
		border-radius:0;
		padding:0 0 5% 0;
		margin:0;
	}
	
	header nav ul li{
		margin:0 4%;
		font-size:1.1em;
	}

	header p {
		margin-top:5%;
	}
	
	section article:first-child {
		float:none;
		width:100%;
	}
	
	section article:nth-child(2) {
		width:100%;
		float:none;
	}
	
	section article h2 {
		margin-left:6%;
		margin-top:15%;
	}
	
	section article li button{
		width:60%;
		padding:.8em;
		font-size:1.1em;
	}
	
	section article:nth-child(3) button{
		width:60%;
		padding:.8em;
		font-size:1.1em;
		margin:20% auto 0% auto;
	}
	
	footer p {
		line-height:1.2em;
		padding:2%;
	}
	
	footer nav ul li{
		margin-right:8%;
	}
	
	a:hover {
		color:#fff;
	}
	
	footer a {
		text-decoration:underline;
	}
}