/* MOBILE */

/*
	Color Hex Codes:

	Dark Gray = #464646
	Dark Teal = #00a5b6
	Gold = #e5c370
	Light Teal = #b5eee5
	LL Teal = #d8f0ec
*/

@media screen and (max-width:480px) {

	html {
		width:100% !important;
		padding:0 8%;
	}

	header img:first-child {
		margin-bottom:10%;
		margin-left:auto;
		margin-right:auto;
		padding:0;
		float:none;
		width:100%;
	}

	header img:nth-child(2) {
		visibility: hidden;
		width:1%;
	}

	header nav ul {
		background-color:#ffffff;
		margin-top:1%;
		margin-left:auto;
		margin-right:auto;
	}

	header nav ul li a {
		margin-bottom:5%;
		background-color:#00a5b6;
		padding:4%;
		border-radius:5%;
		width:80%;
		display:inline-block;
	}

	header ul li a:hover {
		text-decoration:none;
	}

	section h1 {
		font-size:1.8em;
	}

	section h2 {
		font-size:1.4em;
		width:100% !important;
		margin-left:0%;
	}

	section img {
		width:100% !important;
		float:none;
		margin-left:0%;
	}

	section article h2 {
		margin-left:0%;
	}
	
	section article p {
		width:100% !important;
		margin-left:0%;
	}
	
	#safety article{
		float:none !important;
		width:100% !important;
	}

	#safety article:nth-child(2){
		margin-left:0% !important;
	}

	#safety article ul {
		width:100% !important;
	}
	
	#safety article ul li{
		line-height:1.4em !important;
		margin-bottom:10% !important;
	}
	
	#resources section article {
		width:100% !important;
		float:none !important;
	}

	#resources article:nth-child(4) {
		margin-left:0% !important;
	}
	
	#resources ul li {
		width:100% !important;
	}
	
	footer img {
		visibility:hidden;
	}
	
	footer p {
		font-size:.6em !important;
		padding:3% 0 !important;
	}
	
	a:hover {
		text-decoration:none;
	}

}