/* DESKTOP */
@media screen and (min-width:1280px) {
	body {
		background-color: purple;
		font-family: 'Helvetica', Arial, sans-serif;
		color:#fff;
		width:60%;
		margin-left:auto;
		margin-right:auto;
	}
}